# Node.js
# Build a general Node.js project with npm.
# Add steps that analyze code, save build artifacts, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/javascript

trigger:
  - master
  - dev
  - test
  - prod

pool:
  vmImage: ubuntu-latest

parameters:
  - name: environments
    type: object
    default:
      - dev:
          # env: "dev"
          stageName: "Dev"
          # buildReason: "IndividualCI"
          # isTargetBranch: $[ eq(variables['Build.SourceBranch'], 'refs/heads/dev') ]
      - test:
          # env: "test"
          stageName: "Test"
          # buildReason: "IndividualCI"
          # isTargetBranch: $[ eq(variables['Build.SourceBranch'], 'refs/heads/test') ]
      - pprd:
          # env: "pprd"
          stageName: "PPrd"
          # buildReason: "IndividualCI"
          # isTargetBranch: $[ eq(variables['Build.SourceBranch'], 'refs/heads/pprd') ]
      - prod:
          # env: "prod"
          stageName: "Prod"
          # buildReason: "IndividualCI"
          # isTargetBranch: $[ eq(variables['Build.SourceBranch'], 'refs/heads/prod') ]

variables:
  templateDest: templates/CI-CD.yml

stages:
  - ${{ each env in parameters.environments }}:
      - template: ${{ variables.templateDest }}
        parameters:
          ${{ each pair in convertToJson(env) }}:
              ${{ pair.key }}: ${{ pair.value }}
