# Node.js
# Build a general Node.js project with npm.
# Add steps that analyze code, save build artifacts, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/javascript

trigger:
  - master
  - dev
  - test
  - prod

pool:
  vmImage: ubuntu-latest

parameters:
  - name: environments
    type: object
    default:
      - env: "dev"
        stageName: "Dev"
        buildReason: "IndividualCI"
        branchName: "refs/heads/dev"

      - env: test
        stageName: "Test"
        buildReason: "IndividualCI"
        branchName: "refs/heads/test"

      - env: "pprd"
        stageName: "PPrd"
        buildReason: "IndividualCI"
        branchName: "refs/heads/pprd"

      - env: "prod"
        stageName: "Prod"
        buildReason: "IndividualCI"
        branchName: "refs/heads/prod"

variables:
  templateDest: templates/CI-CD.yml

stages:
  - ${{ each environment in parameters.environments }}:
      - template: ${{ variables.templateDest }}
        parameters:
          dummy: ${{ variables.isTarget }}
          ${{ each pair in environment }}:
            ${{ if containsKey(branchName, pair.key) }}:
              isTargetBranch: ${{ eq(variables['Build.SourceBranch'], '${{ pair.value }}') }}
            ${{ pair.key }}: ${{ pair.value }}
