# Node.js
# Build a general Node.js project with npm.
# Add steps that analyze code, save build artifacts, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/javascript

trigger:
  - master
  - dev
  - test
  - prod

pool:
  vmImage: ubuntu-latest

parameters:
  - name: environments
    type: object
    default:
      - env: "dev"
        stageName: "Dev"
        buildReason: "IndividualCI"
        branchName: "dev"

      - env: test
        stageName: "Test"
        buildReason: "IndividualCI"
        branchName: "test"

      - env: "pprd"
        stageName: "PPrd"
        buildReason: "IndividualCI"
        branchName: "pprd"

      - env: "prod"
        stageName: "Prod"
        buildReason: "IndividualCI"
        branchName: "prod"

variables:
  templateDest: templates/CI-CD.yml
  ${{ if startsWith(variables['Build.SourceBranch'], 'refs/heads/') }}:
    effectiveBranchName: $[ replace(variables['Build.SourceBranch'], 'refs/heads/', '') ]
  ${{ if startsWith(variables['Build.SourceBranch'], 'refs/pull/') }}:
    effectiveBranchName: $[ replace(variables['System.PullRequest.TargetBranch'], 'refs/heads/', '') ]

stages:
  - stage: ${{ parameters.environments[1].stageName }}
    condition: always()
    jobs:
      - job: hawhaw
        steps:
          - script: echo ${{ variables.effectiveBranchName }}
  # - template: ${{ variables.templateDest }}
  #   parameters:
  #     isTargetBranch: ${{ eq(variables['Build.SourceBranch'], '${{ environment.branchName }}') }}
  #     ${{ each pair in environment }}:
  #       ${{ if ne(pair.key, 'branchName') }}:
  #         ${{ pair.key }}: ${{ pair.value }}
