# Node.js
# Build a general Node.js project with npm.
# Add steps that analyze code, save build artifacts, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/javascript

trigger:
  - master
  - dev
  - test
  - prod

pool:
  vmImage: ubuntu-latest

parameters:
  - name: environments
    type: object
    default:
      dev:
        env: "dev"
        stageName: "Dev"
        buildReason: "IndividualCI"
        name: "refs/heads/dev"
      test:
        env: test
        stageName: "Test"
        buildReason: "IndividualCI"
        name: "refs/heads/test"
      pprd:
        env: "pprd"
        stageName: "PPrd"
        buildReason: "IndividualCI"
        name: "refs/heads/pprd"
      prod:
        env: "prod"
        stageName: "Prod"
        buildReason: "IndividualCI"
        name: "refs/heads/prod"

variables:
  templateDest: templates/CI-CD.yml
  isTarget: ${{ eq(variables['Build.SourceBranch'], 'refs/heads/test') }}

stages:
  - ${{ each env in parameters.environments }}:
      - template: ${{ variables.templateDest }}
        parameters:
          # isTargetBranch: ${{ eq(variables['Build.SourceBranch'], 'refs/heads/${{ env.value.env }}') }}
          dummy: ${{ variables.isTarget }}
          ${{ each pair in env.value }}:
            ${{ if eq(pair.key, 'name') }}:
                isTargetBranch: ${{ eq(variables['Build.SourceBranch'], '${{ pair.value }}') }}
            ${{ pair.key }}: ${{ pair.value }}

