# Node.js
# Build a general Node.js project with npm.
# Add steps that analyze code, save build artifacts, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/javascript

trigger:
- master
- dev
- test
- prod

pool:
  vmImage: ubuntu-latest
   
variables:
  sourceBranch: $[variables['Build.SourceBranch']]
  targetPullRequestBranch: $[variables['System.PullRequest.TargetBranch']]
  templateDest: templates/CI-CD.yml

stages:
  - template: ${{ templateDest }}
    parameters:
      - stageName: 'Master'
      - stageDisplayName: 'Master'
      - namespace: 'taas-core'
      - buildReason: 'IndividualCI'
      - isTargetBranch: $[eq(variables['Build.SourceBranch'], 'refs/heads/master')]
  
  - template: ${{ templateDest }}
    parameters:
      - stageName: 'Dev'
      - stageDisplayName: 'Dev'
      - namespace: 'taas-core-dev'
      - buildReason: 'IndividualCI'
      - isTargetBranch: $[eq(variables['Build.SourceBranch'], 'refs/heads/dev')]

  - template: ${{ templateDest }}
    parameters:
      - stageName: 'Test'
      - stageDisplayName: 'Test'
      - namespace: 'taas-core-test'
      - buildReason: 'IndividualCI'
      - isTargetBranch: $[eq(variables['Build.SourceBranch'], 'refs/heads/test')]

  - template: ${{ templateDest }}
    parameters:
      - stageName: 'Prod'
      - stageDisplayName: 'Prod'
      - namespace: 'taas-core-prod'
      - buildReason: 'IndividualCI'
      - isTargetBranch: $[eq(variables['Build.SourceBranch'], 'refs/heads/prod')]  