# Node.js
# Build a general Node.js project with npm.
# Add steps that analyze code, save build artifacts, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/javascript

trigger:
  - master
  - dev
  - test
  - prod

pool:
  vmImage: ubuntu-latest

parameters:
  - name: environments
    type: object
    default:
      - env: "dev"
        stageName: "Dev"
        stageDisplayName: "Development"
        buildReason: "IndividualCI"
        branchName: "dev"

      - env: test
        stageName: "Test"
        stageDisplayName: "Test"
        buildReason: "IndividualCI"
        branchName: "test"

      - env: "pprd"
        stageName: "PPrd"
        stageDisplayName: "Pre-Production"
        buildReason: "IndividualCI"
        branchName: "pprd"

      - env: "prod"
        stageName: "Prod"
        stageDisplayName: "Production"
        buildReason: "IndividualCI"
        branchName: "prod"

variables:
  templateDest: build/templates/stages/stage.yml
  ${{ if startsWith(variables['Build.SourceBranch'], 'refs/heads/') }}:
    effectiveBranchName: ${{ replace(variables['Build.SourceBranch'], 'refs/heads/', '') }}
    targetBranch: ${{ replace(variables['Build.SourceBranch'], 'refs/heads/', '') }}
  ${{ if startsWith(variables['Build.SourceBranch'], 'refs/pull/') }}:
    effectiveBranchName: ${{ replace(variables['System.PullRequest.TargetBranch'], 'refs/heads/', '') }}
    targetBranch: $(System.PullRequest.TargetBranch)

stages:
  - stage: dummy
    jobs:
      - job: hawhaw
        steps:
          - script: |
              echo 'variables.Build.Reason                      : ${{ variables['Build.Reason'] }}'
              echo 'variables.System.PullRequest.TargetBranch   : ${{ variables['System.PullRequest.TargetBranch'] }}'
              echo 'variables.System.PullRequest.TargetBranch   : $(System.PullRequest.TargetBranch)'

              $(System.PullRequest.TargetBranch)
              echo 'variables.Build.SourceBranch                : ${{ variables['Build.SourceBranch'] }}'
              echo 'variables.effectiveBranchName               : ${{ variables['effectiveBranchName'] }}'
              echo 'variables.effectiveBranchName               : ${{ variables['targetBranch'] }}'

  # - ${{ each environment in parameters.environments }}:
  #     - template: ${{ variables.templateDest }}
  #       parameters:
  #         ${{ each pair in environment }}:
  #           ${{ if ne(pair.key, 'branchName') }}:
  #             ${{ pair.key }}: ${{ pair.value }}
  #         isTargetBranch: ${{ eq(variables.effectiveBranchName, environment.branchName) }}

  # - stage: ${{ parameters.environments[1].stageName }}
  #   condition: always()
  #   jobs:
  #     - job: hawhaw
  #       displayName: ${{ eq(variables.effectiveBranchName, parameters.environments[0].branchName) }} - ${{ eq(variables.effectiveBranchName, parameters.environments[1].branchName) }} - ${{ eq(variables.effectiveBranchName, parameters.environments[2].branchName) }} - ${{ eq(variables.effectiveBranchName, parameters.environments[3].branchName) }}
  #       steps:
  #         - script: echo ${{ eq(variables.effectiveBranchName, parameters.environments[1].branchName) }}
